.app {
  width: 100%;
  height: 120vh;
}

.header {
  background-color: aliceblue;
  height: 80px;
}

.header-contents {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
}

.header-contents p {
  font-size: small;
}

.header-contents button {
  display: block;
  margin: auto;
}

.main {
  width: 90%;
  height: 100vh;
  margin: auto;
}

.recommend-contents {
  height: 350px;
  display: flex;
  justify-content: space-between;
}

.item {
  background-color: white;
  width: 250px;
  height: 350px;
}

.history-contents {
  display: flex;
  flex-wrap: wrap;
  gap: 65px;
}

.book-img {
  width: 250px;
  height: 350px;
}
