.app {
  width: 100%;
  height: 120vh;
}

.header {
  background-color: aliceblue;
  height: 80px;
}

.header-contents {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
}

.header-contents p {
  font-size: small;
}

.header-contents button {
  display: block;
  margin: auto;
}

.main {
  width: 90%;
  height: 100vh;
  margin: 0 auto;
}

.search {
  display: block;
  background-color: #fff;
  border: 1px solid #dfe1e5;
  border-radius: 24px;
  box-shadow: none;
  font-size: 16px;
  height: 44px;
  margin: 0 auto;
  margin-top: 20px;
  padding: 0 16px;
  transition: box-shadow .1s ease-in-out, border-color .1s ease-in-out;
  width: 60%;
}

.search:focus {
  border-color: #4d90fe;
  box-shadow: 0 0 0 1px #4d90fe;
}

.login-box {
  width: 100%;
  height: 100px;
  text-align: center;
}

.recommend-contents {
  display: flex;
  justify-content: space-between;
}

.item-info {
  width: 250px;
}

.item {
  background-color: white;
  width: 250px;
  height: 350px;
}

.history-contents {
  display: flex;
  flex-wrap: wrap;
  gap: 65px;
}

.book-img {
  width: 250px;
  height: 350px;
}

.rated-book-info {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}
